<html>
 <head>
  <title>Osucard | Free osu stats cards</title>
  <link rel="stylesheet" href="./style.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
 </head>
 
 <body>
   <header>
    <h1 id="title">OSUCARD</h1>
    <p id="subtitle">Best Osu stats card generator</p>
    <div class="buttons-container">
      <button class="head-button">
        Create your own card!
      </button>
    </div>
   </header>

   <footer>
    <a href="https://github.com/K3BAA">Made with ❤️ by K3BA</a>
   </footer>

 </body>
</html>

