<html>
 <head>
  <title>Osucard | Free osu stats cards</title>
  <link rel="stylesheet" href="./css/style.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
 </head>
 
 <body>
   <header>
    <h1 id="title">OSUCARD</h1>
    <p id="subtitle">Best Osu stats card generator</p>
    <div class="buttons-container">
      <button id="create">
        Create your own card!
      </button>
    </div>
   </header>

   <div id="background" class="background"></div>
   
   <div id="popup" class="popup">
    <h3 id="closeBtn">&#10006;</h3>
    <h1 class="popup-title">Create your own card!</h1>
    <p id="link" class="link">https://apispammer.lnxcz1.repl.co/card/K3BA?color=blue</p>
    <a id="nostyle" href="https://lnx.rip">
    <img id="card" src="https://apispammer.lnxcz1.repl.co/card/K3BAA">
    </a>
   </div>
   

   <footer>
    Made with ❤️ by <a href="https://github.com/K3BAA">K3BA</a> & <a href="https://github.com/lnxcz">lynx</a>
   </footer>
   <script src="./js/popup.js"></script>
 </body>
</html>

