@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap')  format('truetype');
}
@font-face {
  font-family: 'Toru';
  src: url('../fonts/toru.otf')  format('truetype');
}

body {
  background-color: #20262F;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  font-family: Toru;
  padding-bottom: 1%;
  color: white;
}

footer a {
  color: #3385FF  ;
  text-decoration: none;
}

#title {
  font-family: Toru;
  color: #3385FF;
  text-shadow: 0px 1px 11px #3385FF;
  font-size: 100px;
}

#subtitle {
  font-family: Toru;
  color: white;
  font-size: 35px;
  margin-top: -70px;
}

header {
  margin-top: 10%;
}

#create {
  background-color: #3385FF;
  color: white;
  border: none;
  padding: 15px 30px;
  font-family: Toru;
  margin-left: 0.3%;
  margin-right: 0.3%;
  box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  border-radius: 100px;
}

#create:hover {
  cursor: pointer;
}

#create:focus-within {
  transition: all ease-in-out 0.3s;
  animation: pop 0.3s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.auth-card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #20262F;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 10px;
}

#logincard, #registercard {
  display: none;
}

#auth-title {
  color: white;
  font-family: Toru;
}

.auth-input {
  background-color: #2c3441;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 5%;
  color: white;
  border-radius: 8px;
  font-family: Toru;
  color: #808ca0;
}

#auth-button {
  background-color: #3385FF;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 13px;
  font-family: Toru;
  margin-left: 0.3%;
  margin-right: 0.3%;
  box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  border-radius: 100px;
  margin-top: 2%;
}

#auth-button:hover {
  cursor: pointer;
}

#auth-closebutton {
  right: 5%;
  background-color: transparent;
  color: #4d5a70;
  position: fixed;
  border: none;
  font-size: 20px;
}

#auth-closebutton:hover {
  cursor: pointer;
}

.background {
  position: fixed;
  top: 0;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: none;
}

body, html {
  margin: 0;
  padding: 0;
}


.popup {
  position: absolute;
  background-color: #24222A;
  width: 45rem;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 4rem;
  border-radius: 16px;
  left: 50%;
  font-family: Poppins;
  box-shadow: 0px 0px 15px 0px rgba(51,133,255,0.75);
  top: 50%; 
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0px 0px 15px 0px rgb(140 102 255 / 30%);
}

.popup h1 {
  color: #E8DDDD;
  font-size: 2.4em;
  text-align: center;
}


.btop{
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-left: 1rem
}

.button{
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 7px;
  background-color: #3D3946;
  height: 2.8rem;
  margin: 0 0 1rem 0;
}

.stats{
  border-radius: 7px;
  background-color: #3D3946;
  height: 60%;
  border-bottom: 4px solid #8C66FF;
}
.card{
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 15rem;
  margin-top: 3.6rem;
}

.preview{
  display: flex;
  background-color: #3D3946;
  height: auto;
  border-radius: 10px;
  width: 65%;
  border-bottom: 4px solid #8C66FF;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.textbox{
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: flex-start;
  margin: 3rem 0 3rem 0;
}

.etext{
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
  color: #E8DDDD;
  font-weight: 500;
}

.icon{
  width: 3rem;
  background-color: #3D3946;
  margin-right: 2rem;
  border-radius: 7px;
  border-bottom: 4px solid #8C66FF;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 1.5rem;
  height: auto;
  position: absolute;
  filter: invert(97%) sepia(1%) saturate(1261%) hue-rotate(314deg) brightness(87%) contrast(110%);
}
input,select{
  outline: none;
  color: white;
  border: none;
  font-size: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  background-color: #3D3946;
  border-radius: 7px;
  border-bottom: 4px solid #8C66FF;
}

.svg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  margin: 0 0 0 .6rem;
}

.text{
  font-size: 1.5em;
  color: #E8DDDD;
  font-weight: 500;
  margin-left: 1rem;
}
#card {
  width: 418px;
  height: 188px;
}

.link {
  color: gray;
  font-family: Toru;
}

#closeBtn {
  color: rgb(177, 177, 177);
  float: right;
  cursor: pointer;
}
#relCard{
  filter:none;
  width:95%;
  position:relative;
}