@font-face {
  font-family: 'Toru';
  src: url('./toru.otf')  format('truetype');
}

body {
  background-image: url(https://i.postimg.cc/hGBDfrJP/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  font-family: Toru;
  color: white;
  font-size: 140px;
  margin-bottom: 20px;
}

header {
  text-align: center;
}

#username {
  background-color: #1f2224;
  padding: 20px 30px;
  border-radius: 15px;
  outline: none;
  width: 20%;
  border: none;
  color: rgb(141, 141, 141);
  font-family: Toru;
  font-size: 18px;
}

#create {
  padding: 18px;
  background-color: #292c2e;
  font-family: Toru;
  font-size: 22px;
  color: rgb(148, 148, 148);
  border: none;
  border-radius: 20px;
}

#color {
  padding: 12px;
  background-color: #292c2e;
  font-family: Toru;
  font-size: 15px;
  color: rgb(148, 148, 148);
  border: none;
  border-radius: 10px;
  outline: none;
}

#create:hover {
  background-color: #404346;
  cursor: pointer;
  transition: all ease-in-out 0.6s;
}

@media only screen and (max-width: 1146px) {
  #username {
    width: 35%;
  }
}

@media only screen and (max-width: 666px) {
  #username {
    width: 45%;
  }

  #title {
    font-size: 100px;
  }
}

@media only screen and (max-width: 516px) {
  #title {
    font-size: 60px;
  }

  #username {
    font-size: 10px;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  display: none;
}

.popup {
  position: fixed;
  background-color: #1f2224;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  margin: -5% auto; 
  left: 0;
  right: 0; 
  display: none;
}

.popup h1 {
  color: rgb(190, 190, 190);
  font-family: Toru;
  text-align: center;
}

#card {
  width: 418px;
  height: 188px;
}

.link {
  color: gray;
  font-family: Toru;
}

#closeBtn {
  color: rgb(177, 177, 177);
  float: right;
  cursor: pointer;
}